In [60]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from datetime import timezone, datetime
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder
#from sklearn.compose import ColumnTransformer

In [61]:
#df_pat = pd.read_csv('../data/PATIENTS.csv')
df_diag = pd.read_csv('../data/diagnose_merged.csv')

In [62]:
#df_pat = df_pat.sort_values(by = ['SUBJECT_ID'])
#df_pat = df_pat.set_index(keys = 'ROW_ID', drop = True)
#df_pat.to_csv('../data/patients0.csv')

In [63]:
df_pat = pd.read_csv('../data/patients0.csv')
df_pat.head(5)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,1,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0
1,2,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
2,3,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0
3,4,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0
4,5,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0

In [64]:
df_diag.head(5)

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0,2,163353,1.0,V3001,Single lb in-hosp w cs,"Single liveborn, born in hospital, delivered b..."
1,1,2,163353,2.0,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...
2,2,2,163353,3.0,V290,NB obsrv suspct infect,Observation for suspected infectious condition
3,3,3,145834,9.0,2639,Protein-cal malnutr NOS,Unspecified protein-calorie malnutrition
4,4,3,145834,7.0,6826,Cellulitis of leg,"Cellulitis and abscess of leg, except foot"

In [65]:
len(df_diag)

651047

In [66]:
df_diag['Diabetes'] = df_diag['ICD9_CODE'].apply(lambda x: str(x)[0:3] == '250')

In [67]:
df_diabete = df_diag[df_diag['Diabetes'] == True]

In [68]:
len(df_diabete)
print('Percentage of Diabetes diagnosis: '+str(len(df_diabete)/len(df_diag)))
print('Unique number of diabetes patients: '+ str(len(df_diabete['SUBJECT_ID'].unique())))

Percentage of Diabetes diagnosis: 0.025273136962462004
Unique number of diabetes patients: 10318

In [50]:
df_diabete.tail(30)

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE,Diabetes
650148,650148,99802,108099,5.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650163,650163,99806,133851,4.0,25080,DMII oth nt st uncntrld,"Diabetes with other specified manifestations, ...",True
650167,650167,99809,154672,5.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650180,650180,99810,196261,7.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650184,650184,99814,186518,4.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650223,650223,99819,126883,10.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650297,650297,99830,176834,22.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650436,650436,99863,100749,7.0,25012,DMII ketoacd uncontrold,"Diabetes with ketoacidosis, type II or unspeci...",True
650452,650452,99864,111512,11.0,25040,DMII renl nt st uncntrld,"Diabetes with renal manifestations, type II or...",True
650514,650514,99870,124555,9.0,25060,DMII neuro nt st uncntrl,"Diabetes with neurological manifestations, typ...",True
650586,650586,99893,128349,15.0,25050,DMII ophth nt st uncntrl,"Diabetes with ophthalmic manifestations, type ...",True
650626,650626,99897,181057,7.0,25062,DMII neuro uncntrld,"Diabetes with neurological manifestations, typ...",True
650627,650627,99897,181057,9.0,25052,DMII ophth uncntrld,"Diabetes with ophthalmic manifestations, type ...",True
650629,650629,99897,181057,11.0,25042,DMII renal uncntrld,"Diabetes with renal manifestations, type II or...",True
650633,650633,99897,181057,1.0,25012,DMII ketoacd uncontrold,"Diabetes with ketoacidosis, type II or unspeci...",True
650640,650640,99897,162913,1.0,25020,DMII hprsm nt st uncntrl,"Diabetes with hyperosmolarity, type II or unsp...",True
650649,650649,99897,162913,11.0,25040,DMII renl nt st uncntrld,"Diabetes with renal manifestations, type II or...",True
650650,650650,99897,162913,12.0,25050,DMII ophth nt st uncntrl,"Diabetes with ophthalmic manifestations, type ...",True
650651,650651,99897,162913,13.0,25060,DMII neuro nt st uncntrl,"Diabetes with neurological manifestations, typ...",True
650659,650659,99899,188409,19.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650695,650695,99901,131711,6.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650710,650710,99903,135939,4.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650738,650738,99913,175989,10.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650782,650782,99928,104802,1.0,25013,DMI ketoacd uncontrold,"Diabetes with ketoacidosis, type I [juvenile t...",True
650829,650829,99938,103815,6.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
650892,650892,99955,108494,6.0,25060,DMII neuro nt st uncntrl,"Diabetes with neurological manifestations, typ...",True
650907,650907,99957,148574,11.0,25092,DMII unspf uncntrld,"Diabetes with unspecified complication, type I...",True
651006,651006,99991,151118,14.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
651032,651032,99995,137810,6.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True
651042,651042,99999,113369,4.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...,True

In [75]:
pat_name = list(df_diabete['SUBJECT_ID'].unique())
pat_name

[13,
 18,
 20,
 21,
 24,
 25,
 28,
 35,
 37,
 55,
 59,
 75,
 83,
 117,
 123,
 130,
 135,
 137,
 141,
 157,
 173,
 184,
 186,
 188,
 191,
 192,
 199,
 205,
 209,
 210,
 224,
 234,
 235,
 239,
 246,
 249,
 261,
 263,
 270,
 271,
 286,
 294,
 305,
 309,
 321,
 323,
 328,
 342,
 344,
 345,
 347,
 352,
 353,
 354,
 357,
 359,
 367,
 370,
 376,
 378,
 379,
 382,
 383,
 389,
 395,
 402,
 415,
 427,
 430,
 445,
 450,
 452,
 453,
 454,
 464,
 482,
 485,
 489,
 494,
 501,
 511,
 518,
 527,
 532,
 533,
 539,
 545,
 558,
 563,
 564,
 565,
 569,
 571,
 584,
 588,
 609,
 613,
 622,
 624,
 629,
 630,
 634,
 635,
 641,
 642,
 654,
 666,
 667,
 671,
 672,
 689,
 690,
 702,
 703,
 708,
 711,
 715,
 716,
 720,
 732,
 741,
 745,
 747,
 751,
 756,
 757,
 765,
 770,
 772,
 780,
 787,
 791,
 794,
 798,
 806,
 811,
 816,
 820,
 824,
 834,
 835,
 837,
 846,
 849,
 864,
 865,
 876,
 890,
 894,
 906,
 914,
 919,
 921,
 923,
 924,
 925,
 929,
 932,
 940,
 946,
 947,
 954,
 956,
 963,
 979,
 984,
 989,
 992,
 995,
 998,
 999,
 1012,
 1018,
 1020,
 1027,
 1028,
 1036,
 1037,
 1038,
 1042,
 1046,
 1049,
 1050,
 1053,
 1054,
 1060,
 1067,
 1069,
 1072,
 1081,
 1097,
 1098,
 1100,
 1104,
 1110,
 1114,
 1120,
 1135,
 1137,
 1139,
 1141,
 1148,
 1152,
 1162,
 1171,
 1174,
 1178,
 1184,
 1197,
 1200,
 1206,
 1212,
 1214,
 1220,
 1230,
 1233,
 1241,
 1247,
 1271,
 1281,
 1283,
 1287,
 1308,
 1313,
 1316,
 1325,
 1332,
 1335,
 1337,
 1338,
 1340,
 1344,
 1346,
 1347,
 1348,
 1357,
 1358,
 1363,
 1367,
 1371,
 1375,
 1380,
 1381,
 1385,
 1395,
 1399,
 1404,
 1409,
 1422,
 1426,
 1442,
 1447,
 1453,
 1454,
 1457,
 1469,
 1472,
 1473,
 1476,
 1478,
 1492,
 1493,
 1494,
 1496,
 1498,
 1501,
 1503,
 1524,
 1534,
 1535,
 1539,
 1543,
 1544,
 1546,
 1547,
 1552,
 1556,
 1557,
 1561,
 1569,
 1581,
 1586,
 1594,
 1606,
 1619,
 1628,
 1631,
 1636,
 1642,
 1663,
 1672,
 1677,
 1679,
 1685,
 1686,
 1687,
 1692,
 1699,
 1701,
 1707,
 1715,
 1725,
 1744,
 1751,
 1757,
 1758,
 1767,
 1780,
 1787,
 1795,
 1801,
 1814,
 1816,
 1825,
 1829,
 1835,
 1839,
 1840,
 1842,
 1850,
 1855,
 1860,
 1866,
 1890,
 1893,
 1899,
 1900,
 1901,
 1903,
 1905,
 1908,
 1937,
 1944,
 1945,
 1950,
 1964,
 1967,
 1971,
 1972,
 1979,
 1980,
 1985,
 1987,
 1988,
 1989,
 1991,
 1995,
 1996,
 1999,
 2001,
 2002,
 2006,
 2016,
 2018,
 2019,
 2031,
 2032,
 2034,
 2035,
 2040,
 2044,
 2045,
 2051,
 2054,
 2056,
 2061,
 2067,
 2076,
 2091,
 2092,
 2100,
 2116,
 2119,
 2121,
 2123,
 2133,
 2150,
 2165,
 2167,
 2169,
 2185,
 2186,
 2187,
 2188,
 2194,
 2195,
 2207,
 2208,
 2210,
 2211,
 2220,
 2223,
 2237,
 2242,
 2243,
 2245,
 2246,
 2254,
 2256,
 2258,
 2259,
 2263,
 2268,
 2272,
 2286,
 2298,
 2299,
 2310,
 2324,
 2333,
 2338,
 2341,
 2345,
 2353,
 2356,
 2361,
 2363,
 2364,
 2368,
 2369,
 2379,
 2386,
 2392,
 2395,
 2414,
 2420,
 2423,
 2425,
 2433,
 2434,
 2441,
 2452,
 2455,
 2457,
 2458,
 2460,
 2464,
 2466,
 2473,
 2476,
 2477,
 2478,
 2479,
 2484,
 2486,
 2487,
 2493,
 2496,
 2511,
 2516,
 2518,
 2537,
 2539,
 2554,
 2562,
 2574,
 2581,
 2582,
 2585,
 2586,
 2599,
 2601,
 2616,
 2625,
 2628,
 2641,
 2651,
 2658,
 2666,
 2667,
 2672,
 2683,
 2686,
 2688,
 2694,
 2701,
 2703,
 2710,
 2712,
 2716,
 2719,
 2724,
 2732,
 2734,
 2736,
 2743,
 2752,
 2754,
 2755,
 2769,
 2771,
 2773,
 2783,
 2784,
 2786,
 2788,
 2790,
 2791,
 2807,
 2813,
 2823,
 2825,
 2830,
 2834,
 2835,
 2842,
 2858,
 2860,
 2862,
 2872,
 2877,
 2889,
 2894,
 2902,
 2906,
 2908,
 2934,
 2935,
 2947,
 2962,
 2964,
 2968,
 2969,
 2973,
 2975,
 2981,
 2984,
 2989,
 2990,
 3002,
 3006,
 3009,
 3018,
 3021,
 3026,
 3030,
 3035,
 3042,
 3051,
 3052,
 3057,
 3070,
 3073,
 3080,
 3084,
 3089,
 3110,
 3118,
 3123,
 3125,
 3133,
 3134,
 3145,
 3156,
 3165,
 3166,
 3169,
 3171,
 3174,
 3176,
 3178,
 3181,
 3182,
 3190,
 3191,
 3210,
 3217,
 3231,
 3236,
 3241,
 3251,
 3252,
 3263,
 3267,
 3280,
 3288,
 3292,
 3294,
 3300,
 3307,
 3326,
 3328,
 3334,
 3344,
 3345,
 3357,
 3358,
 3362,
 3364,
 3371,
 3379,
 3384,
 3386,
 3388,
 3389,
 3395,
 3399,
 3415,
 3419,
 3426,
 3435,
 3440,
 3442,
 3449,
 3457,
 3458,
 3460,
 3461,
 3463,
 3465,
 3468,
 3481,
 3483,
 3484,
 3485,
 3486,
 3490,
 3491,
 3501,
 3513,
 3516,
 3521,
 3533,
 3535,
 3540,
 3542,
 3543,
 3550,
 3555,
 3556,
 3557,
 3559,
 3577,
 3586,
 3593,
 3598,
 3603,
 3606,
 3616,
 3630,
 3632,
 3633,
 3635,
 3647,
 3650,
 3659,
 3675,
 3691,
 3700,
 3703,
 3707,
 3722,
 3725,
 3728,
 3730,
 3734,
 3738,
 3750,
 3757,
 3759,
 3765,
 3768,
 3771,
 3775,
 3778,
 3787,
 3790,
 3804,
 3805,
 3813,
 3816,
 3823,
 3827,
 3828,
 3834,
 3835,
 3841,
 3847,
 3852,
 3854,
 3860,
 3861,
 3866,
 3868,
 3869,
 3876,
 3888,
 3889,
 3895,
 3896,
 3909,
 3911,
 3913,
 3914,
 3915,
 3927,
 3928,
 3929,
 3945,
 3947,
 3948,
 3949,
 3952,
 3964,
 3968,
 3969,
 3972,
 3984,
 3987,
 4012,
 4038,
 4041,
 4042,
 4054,
 4067,
 4070,
 4071,
 4077,
 4093,
 4094,
 4096,
 4098,
 4101,
 4102,
 4104,
 4110,
 4112,
 4113,
 4115,
 4121,
 4130,
 4133,
 4135,
 4142,
 4145,
 4159,
 4165,
 4184,
 4187,
 4191,
 4199,
 4200,
 4211,
 4216,
 4220,
 4241,
 4255,
 4258,
 4263,
 4265,
 4268,
 4272,
 4273,
 4279,
 4299,
 4305,
 4308,
 4313,
 4317,
 4323,
 4324,
 4325,
 4326,
 4328,
 4329,
 4336,
 4340,
 4357,
 4364,
 4390,
 4392,
 4394,
 4395,
 4397,
 4407,
 4408,
 4410,
 4421,
 4422,
 4424,
 4429,
 4431,
 4454,
 4464,
 4469,
 4479,
 4480,
 4484,
 4497,
 4500,
 4518,
 4521,
 4525,
 4526,
 4527,
 4529,
 4535,
 4539,
 4543,
 4548,
 4550,
 4564,
 4566,
 4574,
 4577,
 4587,
 4588,
 4589,
 4603,
 4609,
 4611,
 4614,
 4615,
 4619,
 4633,
 4635,
 4637,
 4640,
 4644,
 4646,
 4656,
 4657,
 4670,
 4678,
 4679,
 4690,
 4693,
 4696,
 4708,
 4710,
 4713,
 4718,
 4719,
 4732,
 4744,
 4748,
 4754,
 4760,
 4762,
 4780,
 4785,
 4787,
 4792,
 4800,
 4803,
 4806,
 4807,
 4808,
 4809,
 4816,
 4823,
 4826,
 4833,
 4837,
 4838,
 4843,
 4848,
 4852,
 4855,
 4859,
 4860,
 4861,
 4862,
 4864,
 4869,
 4871,
 4873,
 4875,
 4882,
 4884,
 4899,
 4900,
 4902,
 4908,
 4909,
 4914,
 4916,
 4920,
 4924,
 4931,
 4935,
 4948,
 4962,
 4965,
 4969,
 4973,
 4978,
 4979,
 4985,
 4986,
 4988,
 4989,
 5003,
 5006,
 5020,
 5023,
 5026,
 5027,
 5031,
 5034,
 5039,
 5040,
 5049,
 5050,
 5052,
 5056,
 5061,
 5071,
 5078,
 5083,
 5087,
 5088,
 5097,
 5100,
 5102,
 5109,
 5124,
 5127,
 5128,
 5136,
 5138,
 5139,
 5149,
 5152,
 5158,
 5165,
 5170,
 5171,
 5188,
 5193,
 5195,
 5196,
 5199,
 5201,
 5205,
 5206,
 5211,
 5212,
 5215,
 5238,
 5240,
 5243,
 5244,
 5245,
 5246,
 5247,
 5254,
 5258,
 5262,
 5264,
 5274,
 5277,
 5280,
 5292,
 5307,
 5314,
 5325,
 5327,
 5331,
 5339,
 5349,
 5360,
 5362,
 5383,
 5386,
 5390,
 5393,
 5397,
 5399,
 5430,
 5437,
 5446,
 5453,
 5455,
 5458,
 5469,
 5470,
 5472,
 5474,
 5478,
 5486,
 5487,
 5488,
 5489,
 5491,
 5496,
 5528,
 5529,
 5532,
 5534,
 5536,
 5538,
 5542,
 5544,
 5555,
 5557,
 5559,
 5569,
 5570,
 5573,
 ...]

In [79]:
diabete_patients = df_pat[df_pat['SUBJECT_ID'].isin(pat_name)]

In [80]:
diabete_patients

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
11,12,13,F,2127-02-27 00:00:00,NaN,NaN,NaN,0
14,15,18,M,2116-11-29 00:00:00,NaN,NaN,NaN,0
16,17,20,F,2107-06-13 00:00:00,NaN,NaN,NaN,0
17,18,21,M,2047-04-04 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,1
20,21,24,M,2100-05-31 00:00:00,NaN,NaN,NaN,0
21,22,25,M,2101-11-21 00:00:00,NaN,NaN,NaN,0
24,25,28,M,2103-04-15 00:00:00,NaN,NaN,NaN,0
30,31,35,F,2052-09-01 00:00:00,NaN,NaN,NaN,0
32,33,37,M,2114-09-17 00:00:00,2185-01-06 00:00:00,2185-01-06 00:00:00,2185-01-06 00:00:00,1
47,48,55,F,2072-02-04 00:00:00,NaN,NaN,NaN,0
51,52,59,F,2110-10-12 00:00:00,2198-09-06 00:00:00,2198-09-06 00:00:00,2198-09-06 00:00:00,1
67,68,75,F,2070-06-27 00:00:00,NaN,NaN,NaN,0
74,75,83,F,2076-09-15 00:00:00,2142-11-20 00:00:00,NaN,2142-11-20 00:00:00,1
107,108,117,F,2083-12-28 00:00:00,2133-12-01 00:00:00,2133-12-01 00:00:00,2133-12-01 00:00:00,1
112,113,123,M,2105-08-31 00:00:00,NaN,NaN,NaN,0
119,120,130,M,2058-06-03 00:00:00,2120-04-15 00:00:00,2120-04-15 00:00:00,NaN,1
124,125,135,M,2123-06-09 00:00:00,2175-12-16 00:00:00,NaN,2175-12-16 00:00:00,1
126,127,137,M,2117-02-27 00:00:00,2193-05-15 00:00:00,NaN,2193-05-15 00:00:00,1
130,131,141,M,2060-05-03 00:00:00,2140-11-09 00:00:00,2140-11-09 00:00:00,2140-11-09 00:00:00,1
146,147,157,M,2025-12-03 00:00:00,2106-08-25 00:00:00,NaN,2106-08-25 00:00:00,1
162,163,173,F,2045-08-06 00:00:00,NaN,NaN,NaN,0
173,174,184,M,2111-10-16 00:00:00,2168-12-02 00:00:00,2168-12-02 00:00:00,2168-12-02 00:00:00,1
175,176,186,F,2100-12-05 00:00:00,2180-11-17 00:00:00,NaN,2180-11-17 00:00:00,1
177,178,188,M,2105-05-18 00:00:00,2162-01-17 00:00:00,2162-01-17 00:00:00,2162-01-17 00:00:00,1
180,181,191,M,2123-02-12 00:00:00,NaN,NaN,NaN,0
181,182,192,M,2066-07-27 00:00:00,NaN,NaN,NaN,0
187,188,199,M,2125-10-12 00:00:00,NaN,NaN,NaN,0
193,194,205,F,2116-07-25 00:00:00,2191-12-05 00:00:00,NaN,2191-12-05 00:00:00,1
195,196,209,M,2054-01-13 00:00:00,NaN,NaN,NaN,0
196,197,210,F,2064-05-03 00:00:00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
46423,46424,99629,M,2113-04-18 00:00:00,NaN,NaN,NaN,0
46429,46430,99650,F,2101-07-10 00:00:00,NaN,NaN,NaN,0
46432,46433,99660,F,2067-02-23 00:00:00,NaN,NaN,NaN,0
46443,46444,99714,M,2043-12-06 00:00:00,NaN,NaN,NaN,0
46450,46451,99756,M,2140-01-06 00:00:00,2191-12-23 00:00:00,2191-12-23 00:00:00,2191-12-23 00:00:00,1
46454,46455,99776,M,2115-02-01 00:00:00,NaN,NaN,NaN,0
46460,46461,99791,M,2109-01-04 00:00:00,NaN,NaN,NaN,0
46463,46464,99802,F,2039-09-10 00:00:00,NaN,NaN,NaN,0
46464,46465,99806,M,2041-04-11 00:00:00,NaN,NaN,NaN,0
46465,46466,99809,M,2096-03-03 00:00:00,NaN,NaN,NaN,0
46466,46467,99810,M,2051-05-25 00:00:00,NaN,NaN,NaN,0
46467,46468,99814,F,2055-07-17 00:00:00,2144-01-23 00:00:00,NaN,2144-01-23 00:00:00,1
46469,46470,99819,M,2066-11-28 00:00:00,NaN,NaN,NaN,0
46472,46473,99830,M,2138-05-11 00:00:00,NaN,NaN,NaN,0
46479,46480,99863,M,2099-07-23 00:00:00,NaN,NaN,NaN,0
46480,46481,99864,M,2045-03-13 00:00:00,NaN,NaN,NaN,0
46483,46484,99870,F,2123-01-29 00:00:00,NaN,NaN,NaN,0
46489,46490,99893,M,2104-09-12 00:00:00,2193-12-30 00:00:00,NaN,2193-12-30 00:00:00,1
46491,46492,99897,M,2128-01-18 00:00:00,NaN,NaN,NaN,0
46492,46493,99899,M,2026-06-20 00:00:00,2113-06-13 00:00:00,2113-06-13 00:00:00,NaN,1
46493,46494,99901,M,2104-03-10 00:00:00,NaN,NaN,NaN,0
46494,46495,99903,M,2095-11-27 00:00:00,NaN,NaN,NaN,0
46496,46497,99913,M,2070-04-07 00:00:00,NaN,NaN,NaN,0
46499,46500,99928,F,2161-01-02 00:00:00,NaN,NaN,NaN,0
46504,46505,99938,M,2119-12-23 00:00:00,NaN,NaN,NaN,0
46508,46509,99955,M,2076-05-04 00:00:00,2139-07-19 00:00:00,2139-07-19 00:00:00,2139-07-19 00:00:00,1
46509,46510,99957,M,2089-02-01 00:00:00,NaN,NaN,NaN,0
46516,46517,99991,M,2137-04-07 00:00:00,NaN,NaN,NaN,0
46518,46519,99995,F,2058-05-29 00:00:00,2147-09-29 00:00:00,NaN,2147-09-29 00:00:00,1
46519,46520,99999,F,2054-01-06 00:00:00,NaN,NaN,NaN,0

In [81]:
id_lst = list(diabete_patients['SUBJECT_ID'])
diag_lst = []
descrip_lst = []
seq_lst = []
hadm_lst =[]
for i in id_lst:
    d = df_diag[df_diag['SUBJECT_ID']==i]
    this_diag = list(d['ICD9_CODE'])
    this_des = list(d['LONG_TITLE'])
    this_seq = list(d['SEQ_NUM'])
    this_hadm = list(d['HADM_ID'])
    diag_lst.append(this_diag)
    descrip_lst.append(this_des)
    seq_lst.append(this_seq)
    hadm_lst.append(this_hadm)

In [86]:
diabete_patients['DIAGNOSES'] = descrip_lst
diabete_patients['ICD9_CODE'] = diag_lst
diabete_patients['SEQ_NUM'] = seq_lst
diabete_patients['HADM_ID'] = hadm_lst

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [96]:
diabete_patients.head(20)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,DIAGNOSES,ICD9_CODE,SEQ_NUM,HADM_ID
11,12,13,F,2127-02-27 00:00:00,NaN,NaN,NaN,0,"[Pure hypercholesterolemia, Unspecified essent...","[2720, 4019, 4111, 41401, 25000]","[5.0, 4.0, 2.0, 1.0, 3.0]","[143045, 143045, 143045, 143045, 143045]"
14,15,18,M,2116-11-29 00:00:00,NaN,NaN,NaN,0,"[Pure hypercholesterolemia, Right bundle branc...","[2720, 4264, 4019, 78321, 78057, 47829, V170, ...","[12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 13.0, 4.0, 3...","[188822, 188822, 188822, 188822, 188822, 18882..."
16,17,20,F,2107-06-13 00:00:00,NaN,NaN,NaN,0,[Coronary atherosclerosis of native coronary a...,"[41401, 4111, 25000, 2724, 4019]","[1.0, 2.0, 3.0, 4.0, 5.0]","[157681, 157681, 157681, 157681, 157681]"
17,18,21,M,2047-04-04 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,1,"[Abscess of liver, Intestinal infection due to...","[5720, 00845, 70709, 6823, 5119, 99592, 99859,...","[10.0, 9.0, 5.0, 7.0, 6.0, 11.0, 8.0, 12.0, 4....","[111970, 111970, 111970, 111970, 111970, 11197..."
20,21,24,M,2100-05-31 00:00:00,NaN,NaN,NaN,0,[Diabetes mellitus without mention of complica...,"[25000, 41401, 41041, 53081]","[4.0, 2.0, 1.0, 3.0]","[161859, 161859, 161859, 161859]"
21,22,25,M,2101-11-21 00:00:00,NaN,NaN,NaN,0,"[Unspecified essential hypertension, Coronary ...","[4019, 41401, 25011, 41071]","[4.0, 3.0, 2.0, 1.0]","[129635, 129635, 129635, 129635]"
24,25,28,M,2103-04-15 00:00:00,NaN,NaN,NaN,0,"[Other isolated or specific phobias, nan, Perc...","[30029, V174, V4582, V1582, 4263, 2720, 25000,...","[8.0, 11.0, 10.0, 9.0, 7.0, 6.0, 5.0, 1.0, 4.0...","[162569, 162569, 162569, 162569, 162569, 16256..."
30,31,35,F,2052-09-01 00:00:00,NaN,NaN,NaN,0,"[Osteoarthrosis, unspecified whether generaliz...","[71590, 2449, 4019, 41401, 25000, 42731, 9971,...","[11.0, 9.0, 8.0, 7.0, 10.0, 5.0, 4.0, 3.0, 2.0...","[166707, 166707, 166707, 166707, 166707, 16670..."
32,33,37,M,2114-09-17 00:00:00,2185-01-06 00:00:00,2185-01-06 00:00:00,2185-01-06 00:00:00,1,"[Subendocardial infarction, initial episode of...","[41071, 496, 53551, 2851, 486, 41401, 25000, 4...","[1.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 2.0]","[188670, 188670, 188670, 188670, 188670, 18867..."
47,48,55,F,2072-02-04 00:00:00,NaN,NaN,NaN,0,[Occlusion and stenosis of carotid artery with...,"[43310, 4280, 2720, 4019, 2449, 25000, V1011, ...","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...","[190665, 190665, 190665, 190665, 190665, 19066..."
51,52,59,F,2110-10-12 00:00:00,2198-09-06 00:00:00,2198-09-06 00:00:00,2198-09-06 00:00:00,1,"[Hypotension, unspecified, Urinary tract infec...","[4589, 5990, 40391, 5856, 25080, 0414, 311, 29...","[6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 7.0, 8.0, 9.0, ...","[104130, 104130, 104130, 104130, 104130, 10413..."
67,68,75,F,2070-06-27 00:00:00,NaN,NaN,NaN,0,[Diabetes mellitus without mention of complica...,"[25000, 53081, 4241, 5533, 2720, 4019, V1582, ...","[9.0, 10.0, 1.0, 11.0, 8.0, 7.0, 12.0, 5.0, 4....","[112086, 112086, 112086, 112086, 112086, 11208..."
74,75,83,F,2076-09-15 00:00:00,2142-11-20 00:00:00,NaN,2142-11-20 00:00:00,1,"[Hypertensive chronic kidney disease, unspecif...","[40391, 2720, 53081, 70715, 25000, 39891, 4331...","[4.0, 7.0, 6.0, 5.0, 8.0, 2.0, 1.0, 9.0, 3.0]","[158569, 158569, 158569, 158569, 158569, 15856..."
107,108,117,F,2083-12-28 00:00:00,2133-12-01 00:00:00,2133-12-01 00:00:00,2133-12-01 00:00:00,1,"[Acute posthemorrhagic anemia, Cirrhosis of li...","[2851, 5715, 7895, 07054, 2875, 4280, 2765, 27...","[6.0, 1.0, 2.0, 3.0, 4.0, 5.0, 7.0, 15.0, 9.0,...","[140784, 140784, 140784, 140784, 140784, 14078..."
112,113,123,M,2105-08-31 00:00:00,NaN,NaN,NaN,0,"[Unspecified essential hypertension, Acute myo...","[4019, 41011, 3051, 41401, 25000]","[3.0, 1.0, 5.0, 2.0, 4.0]","[195632, 195632, 195632, 195632, 195632]"
119,120,130,M,2058-06-03 00:00:00,2120-04-15 00:00:00,2120-04-15 00:00:00,NaN,1,"[Pure hypercholesterolemia, Polyneuropathy in ...","[2720, 3572, 25060, 41401, 2851, 4280, 41071, ...","[7.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0, 10.0, 9.0,...","[198214, 198214, 198214, 198214, 198214, 19821..."
124,125,135,M,2123-06-09 00:00:00,2175-12-16 00:00:00,NaN,2175-12-16 00:00:00,1,[Diabetes mellitus without mention of complica...,"[25000, 4019, 53081, 72401, V5865, 2148, 135, ...","[9.0, 8.0, 7.0, 6.0, 5.0, 4.0, 2.0, 1.0, 3.0, ...","[199634, 199634, 199634, 199634, 199634, 19963..."
126,127,137,M,2117-02-27 00:00:00,2193-05-15 00:00:00,NaN,2193-05-15 00:00:00,1,"[Personal history of tobacco use, Percutaneous...","[V1582, V4582, 60000, 2720, 25060, 3572, 42732...","[11.0, 10.0, 9.0, 8.0, 5.0, 6.0, 4.0, 2.0, 1.0...","[151583, 151583, 151583, 151583, 151583, 15158..."
130,131,141,M,2060-05-03 00:00:00,2140-11-09 00:00:00,2140-11-09 00:00:00,2140-11-09 00:00:00,1,"[Diabetes with ketoacidosis, type I [juvenile ...","[25011, 43491, E8889, 5990, V667, 87342, 5845,...","[5.0, 2.0, 9.0, 8.0, 7.0, 6.0, 4.0, 1.0, 3.0]","[168006, 168006, 168006, 168006, 168006, 16800..."
146,147,157,M,2025-12-03 00:00:00,2106-08-25 00:00:00,NaN,2106-08-25 00:00:00,1,"[Hypopotassemia, nan, Unspecified essential hy...","[2768, 7872, 4019, 2859, 85222, 99811, 27651, ...","[20.0, 21.0, 22.0, 23.0, 1.0, 2.0, 3.0, 13.0, ...","[107880, 107880, 107880, 107880, 110545, 11054..."

In [105]:
diabete_patients.to_csv(r'/Users/rayeliu/Desktop/mimic3-research/data/diabetes_patients.csv')