In [1]:
import numpy as np
import pandas as pd

In [49]:
# data prep

In [2]:
# Diagnoses.csv
diag_df = pd.read_csv("DIAGNOSES_ICD.csv")
diag_df = (diag_df.sort_values("SUBJECT_ID")).drop(columns = "ROW_ID")
diag_df = diag_df.reset_index(drop = True)
diag_df.head(20)

    SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0            2   163353      1.0     V3001
1            2   163353      2.0      V053
2            2   163353      3.0      V290
3            3   145834      9.0      2639
4            3   145834      7.0      6826
5            3   145834      6.0      4280
6            3   145834      5.0     41071
7            3   145834      8.0      4254
8            3   145834      3.0      5849
9            3   145834      2.0     78559
10           3   145834      1.0      0389
11           3   145834      4.0      4275
12           4   185777      9.0     E9317
13           4   185777      1.0       042
14           4   185777      2.0      1363
15           4   185777      3.0      7994
16           4   185777      4.0      2763
17           4   185777      5.0      7907
18           4   185777      6.0      5715
19           4   185777      7.0     04111

In [3]:
icd_code = pd.read_csv("D_ICD_DIAGNOSES.csv")
icd_code = (icd_code.drop(columns = "ROW_ID")).sort_values("ICD9_CODE")
icd_code = icd_code.reset_index(drop = True)
icd_code.head(20)

,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0010,Cholera d/t vib cholerae,Cholera due to vibrio cholerae
1,0011,Cholera d/t vib el tor,Cholera due to vibrio cholerae el tor
2,0019,Cholera NOS,"Cholera, unspecified"
3,0020,Typhoid fever,Typhoid fever
4,0021,Paratyphoid fever a,Paratyphoid fever A
5,0022,Paratyphoid fever b,Paratyphoid fever B
6,0023,Paratyphoid fever c,Paratyphoid fever C
7,0029,Paratyphoid fever NOS,"Paratyphoid fever, unspecified"
8,0030,Salmonella enteritis,Salmonella gastroenteritis
9,0031,Salmonella septicemia,Salmonella septicemia
10,00320,Local salmonella inf NOS,"Localized salmonella infection, unspecified"
11,00321,Salmonella meningitis,Salmonella meningitis
12,00322,Salmonella pneumonia,Salmonella pneumonia
13,00323,Salmonella arthritis,Salmonella arthritis
14,00324,Salmonella osteomyelitis,Salmonella osteomyelitis
15,00329,Local salmonella inf NEC,Other localized salmonella infections
16,0038,Salmonella infection NEC,Other specified salmonella infections
17,0039,Salmonella infection NOS,"Salmonella infection, unspecified"
18,0040,Shigella dysenteriae,Shigella dysenteriae
19,0041,Shigella flexneri,Shigella flexneri

In [4]:
# data prep and merging
pat_df = pd.read_csv("PATIENTS.csv")
pat_df = (pat_df.drop(columns = "ROW_ID")).sort_values("SUBJECT_ID")
pat_df = pat_df.reset_index(drop = True)
pat_df.head(20)

,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0
1,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1
2,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0
3,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0
4,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
5,7,F,2121-05-23 00:00:00,NaN,NaN,NaN,0
6,8,M,2117-11-20 00:00:00,NaN,NaN,NaN,0
7,9,M,2108-01-26 00:00:00,2149-11-14 00:00:00,2149-11-14 00:00:00,2149-11-14 00:00:00,1
8,10,F,2103-06-28 00:00:00,NaN,NaN,NaN,0
9,11,F,2128-02-22 00:00:00,2178-11-14 00:00:00,NaN,2178-11-14 00:00:00,1
10,12,M,2032-03-24 00:00:00,2104-08-20 00:00:00,2104-08-20 00:00:00,2104-08-20 00:00:00,1
11,13,F,2127-02-27 00:00:00,NaN,NaN,NaN,0
12,16,M,2178-02-03 00:00:00,NaN,NaN,NaN,0
13,17,F,2087-07-14 00:00:00,NaN,NaN,NaN,0
14,18,M,2116-11-29 00:00:00,NaN,NaN,NaN,0
15,19,M,1808-08-05 00:00:00,2109-08-18 00:00:00,NaN,2109-08-18 00:00:00,1
16,20,F,2107-06-13 00:00:00,NaN,NaN,NaN,0
17,21,M,2047-04-04 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,2135-02-08 00:00:00,1
18,22,F,2131-05-07 00:00:00,NaN,NaN,NaN,0
19,23,M,2082-07-17 00:00:00,NaN,NaN,NaN,0

In [5]:
# Merge dataframes
diag_icd9 = diag_df.copy()
diag_icd9.head()

   SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0           2   163353      1.0     V3001
1           2   163353      2.0      V053
2           2   163353      3.0      V290
3           3   145834      9.0      2639
4           3   145834      7.0      6826

In [7]:
len(diag_df)

651047

In [9]:
diag_icd9['SHORT_TITLE'] = 0
diag_icd9['LONG_TITLE'] = 0
for i in range(len(diag_icd9)):
    this_code = diag_icd9['ICD9_CODE'][i]
    #print(this_code)
    icd_sub = icd_code[icd_code['ICD9_CODE'] == this_code]
    if len(icd_sub) > 0:
        diag_icd9['SHORT_TITLE'][i] = icd_sub.iloc[0]['SHORT_TITLE']
        diag_icd9['LONG_TITLE'][i] = icd_sub.iloc[0]['LONG_TITLE']   
    else:
        diag_icd9['SHORT_TITLE'][i] = 'N/A'
        diag_icd9['LONG_TITLE'][i] = 'N/A'
diag_icd9

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

KeyboardInterrupt: